footer {
  background-color: var(--darksky-color);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.2rem;
}

footer a:last-child {
  margin-top: 1rem;
}

footer a:hover {
  color: var(--success-color);
}