@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --font: 'Rubik', sans-serif;
  --primary-font-weight: 700;
  --secondary-font-weight: 400;

  --success-color: #57D159;
  --darksky-color: #002B7A;
  --lightsky-color: #0596FF;
  --white-color: #FFFFFF;

}

* {
  font-family: var(--font) !important;
  box-sizing: border-box;
}